{% extends "index.html" %} {% block title %} Today {% endblock %} {% block
content%}



<div class="taskContainer">
        <div class="addTaskWrapper">
          <div
           class="addTask" style="display: none;">
          <form action="addNewTask" method="post">
            <input type="text" name="title" id="pstn" placeholder="Task Name">
            <input type="text" name="description" placeholder="Description">
            <div>
              <input type="text" id="datetimepicker" name="due_date" placeholder="Due Date">
            <div class="edit-task">
            </div>
            <hr>
            <button type="button" id="cancel-btn" onclick="hideAddbar()">Cancel</button>
            <button type="submit" id="add-btn"><span>Save</span></button>
          </form>
          </div>
      </div>
    </div>

{% endblock %}