<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" />
    <title>{% block title %}Home{% endblock %}</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css"
    />
  </head>
  <body>

<div class="nav-sidebar" id="nav-sidebar">
  <div class="closeSidebar" >
<i class="fa-solid fa-circle-xmark" style="font-size: 2em;"></i>
  </div>
 <ul>
 <br>
        <li><h2>To-do list </i></h2> </li>
        <li>
                <ul onclick="showAddbar()">
                  <li style="list-style: none">
                    <button class="plus">+</button>
                    <span >Add task</span>
                  </li>
                </ul>
        </li>
        <li  onclick="showSearchbar() "><a href="#">
          <i  class="fas fa-search search-icon"></i>
          <span>search</span>
        </a>
      </li>
          
        <li class="inboxManipulation">
            <a href="{{ url_for('inbox') }}" id="inboxManipulation">
                <i class="fas fa-inbox"></i>
                <span >Inbox</span>
            </a>
        </li>
        <li id="todayBtn">
          <a href= "{{ url_for('today') }}">
            <i class="fa-regular fa-rectangle-list"></i>
            <span>Today</span>
          </a>
        </li>
        <li  id="upcomingBtn">
          <a href="{{ url_for('upcoming') }}">
            <i class="fa-light fa-calendar-range"></i>
            <span>Upcoming</span>
          </a>
        </li>
        <br>
    </ul>
    </div>
</div>


{% block content %}

<div class="content">
  <h1 id="inboxOnclick">Today</h1>
</div>
<div id="addTask-pstn" >
    {% set ns = namespace(found=false)  %}
   {% for item in task_list %}
    {% if item.date_str and currentDate is not none %}
                        {% if currentDate > item.date_str %}
                          {% set ns.found = true  %}
                         
           {% endif %} {% endif %}

          {% endfor %}
          {% if  ns.found  %}
          <ul><li style="list-style: none;"><h3 id="overDue_tasks_title" >Overdue Tasks</h3></li></ul>
             
             
          <br>
          {% endif %}<ul>
          {% for item in task_list %}
              <div id="moreOptions_{{ item.id }}" class="moreOptions" style="display: none;">
                <ul>
                  <li><a href="#" onclick="showEditTask('{{ item.id }}')">Edit</i></a></li>
                  <hr>
                  <li><form action="/delete/{{ item.id }}" method="POST" style="display: inline;" >
                      <input type="hidden" name="return_url" value="{{ request.path }}">
                      <button type="submit" style="color: red;cursor: pointer; border: none">
                      <i class="fa-regular fa-trash-can"></i>Delete</button>
                    </form>
                  </li>
                  <hr>
                  <li><a href="#" onclick="HideMoreOptions()"><i class="fa-solid fa-circle-xmark"></i>close tab</a></li>
                </ul>
              </div>
              <div class="TaskAdded">
                      <div class="big_circle">
                        {% if item.date_str and currentDate is not none %}
                        {% if currentDate > item.date_str %}
                                    <li><h4>{{ item.title |capitalize }}</h4></li>
                              <li>
                              <p>{{ item.description }} </p>
                              <input type="text" id="currentDatePickr" style="display: none" />
                                  <span style="color: rgb(130, 10, 10)"
                                    ><i class="fa-thin fa-calendar"></i> {{ item.display_date }}</span
                                  >
                                  <a
                                    href="#"
                                    style="display: none"
                                    class="ellipsis"
                                    onclick="ShowMoreOptions('{{ item.id }}')">
                                    <i class="fa-light fa-ellipsis-stroke"></i >
                                  </a>
                                  </li>
                                  <hr class="hr_line" />
                              {% endif %} {% endif %}
                      </div>
                  </div>
          {% endfor %} 
          {% for item in task_list %} 
           {% if item.date_str and currentDate is not none %}
           {% if currentDate == item.date_str %}
          <ul class="currentDateHeader">
           <li><h3 id="currentDateHeader">
            </h3></li>
          </ul>
          <br />
           {% endif %} {% endif %}
          {% endfor %} 
            {% for item in task_list %} 
              <div id="moreOptions_{{ item.id }}" class="moreOptions" style="display: none;">
                <ul>
                  <li><a href="#" onclick="showEditTask('{{ item.id }}')"  id="editEvent">Edit</i></a></li>
                  <hr>
                  <li><form action="/delete/{{ item.id }}" method="POST" style="display: inline;" >
                    <input type="hidden" name="return_url" value="{{ request.path }}">
                    <button type="submit" style="color: red;cursor: pointer; border: none;">
                    <i class="fa-regular fa-trash-can"></i>Delete</button></form></li>
                  <hr>
                  <li><a href="#" onclick="HideMoreOptions()"><i class="fa-solid fa-circle-xmark"></i>close tab</a></li>
                </ul>
              </div>
              <div class="TaskAdded">
                  <div class="big_circle">
                    {% if item.date_str and currentDate is not none %}
                    {% if currentDate == item.date_str %}
                      <li><h4>{{ item.title |capitalize }}</h4></li>
                      <li>
                      <p>{{ item.description }}</p>
                      <input type="text" id="currentDatePickr" style="display: none" />
                          <span style="color: white"
                            ><i class="fa-thin fa-calendar"></i> {{ item.display_date }}</span
                          >
                          <a
                            href="#"
                            style="display: none"
                            class="ellipsis"
                            onclick="ShowMoreOptions('{{ item.id }}')">
                            <i class="fa-light fa-ellipsis-stroke"></i >
                          </a>
                        </li>
                        <br>
                        <hr class="hr_line" />
                    {% endif %}
                    {% endif %}
                  </div>
              </div>
            {% endfor %}
                  <ul class="removeAddBtn" onclick="showAddbar()">
                  <li style="list-style: none">
                    <i
                      class="fa-regular fa-plus"
                      style="color: rgba(226, 23, 23, 0.7); font-size: large"
                    ></i>
                    <span id="text">Add task</span>
                  </li>
                </ul>
                </div>
                
  </div>

{% endblock %}

<div class="taskContainer">
        <div class="addTaskWrapper">
          <div class="addTask" style="display: none;">
          <form action="addNewTask" method="post">
             <input type="hidden" name="return_url" value="{{ request.path }}">
            <input type="text" name="title" id="pstn" placeholder="Task Name">
            <input type="text" name="description" placeholder="Description">
            <div>
              <input type="text" id="datetimepicker" name="due_date" placeholder="Due Date">
            <div class="edit-task">
            </div>
            <hr>
            <button type="button" id="cancel-btn" onclick="hideAddbar()">Cancel</button>
            <button type="submit" id="add-btn"><span>Add Task</span></button>
          </form>
          </div>
</div>
{% for item in task_list %}
    <div class="taskContainer">
      <div class="addTaskWrapper">
          <div class="editTask"  id="editTask_{{ item.id }}" style="display: none;">
                <form action="{{ url_for('updateTask',task_id=item.id) }}" method="post">
                      <input type="hidden" name="return_url" value="{{ request.path }}">
                      <input type="text" name="title" value="{{item.title  }}" placeholder="Task Name">
                      <input type="text" name="description" value="{{item.description  }}"  placeholder="Description {{ item.id }}">
                      <div>

                        <input type="text" id="datetimepickerupdate_{{ item.id }}"  value="{{  item.date_str}}" name="dueDate" placeholder="Due Date">
                      <hr>
                      <button type="button" id="cancel-btn" onclick="hideEditTask()">Cancel</button>
                      <button type="submit" id="add-btn"><span>Save</span></button>
                </form>
          </div>
      </div>
    </div>
{% endfor %}
  <div class="searchbar" id="fixedElement" style="display:none ;">
    <form action="/search" method="get">
      <input type="text" name="search_input" id="searchinput" placeholder="search ..." />
      <a  href="{{ url_for('search') }}"><i class="fas fa-search search-icon"></i></a>
      <hr /> </form>
      <div class="recentSearches">
        <div class="recentSearchesHeading">
        <p>Recent searches <span class="clear">clear</span></p>
        </div>
        <ul>
          {% for search in g.recent_searches %}
          <li onclick="setSearchTerm('{{ search.search_term }}')">
            <i class="fa-thin fa-clock-rotate-left"></i>
           <span> {{ search.search_term}}</span>
            <form action="{{ url_for('delete_search',search_id=search.id) }}" method="post" >
              <input type="hidden" name="return_url" value="{{ request.path }}">
             <button type="submit" style="border: none; background: none;cursor: pointer;"  >
              <i  class="fa-solid fa-xmark delete-search"></i></button> 
            </form>
          </li>
          {% endfor %}
        </ul>
      </div>
    <ul>
</div>

<div class="nav-sidebar1"  id="nav-sidebar1">
 <ul>
        <li id="todayBtn">
          <a href= "{{ url_for('today') }}">
            <i class="fa-regular fa-rectangle-list"></i>
            <span>Today</span>
          </a>
        </li>
        <li  id="upcomingBtn">
          <a href="{{ url_for('upcoming') }}">
            <i class="fa-light fa-calendar-range"></i>
            <span>Upcoming</span>
          </a>
        </li>
        </li>
        <li  onclick="showSearchbar() "><a href="#">
          <i  class="fas fa-search search-icon"></i>
          <span>search</span>
        </a>
      </li>
       
        <li class="inboxManipulation">
            <a href="{{ url_for('inbox') }}" id="inboxManipulation">
                <i class="fas fa-inbox"></i>
                <span >Inbox</span>
            </a>
        </li>
        <br>
    </ul>
    </div>
</div>
<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul class="flashed-messages">
    {% for category, message in messages %}
    <li {{ category }}>{% if category == 'success' %}
      <i class="fa-solid fa-circle-check" style="color: green;"></i>{{ message }} <i class="fa-thin fa-xmark"onclick="hideMessage(this)"></i>
      {% elif category=='error' %}
      <i class="fa-regular fa-circle-xmark"  style="color: red;"></i>{{ message }}<i class="fa-thin fa-xmark" onclick="hideMessage(this)"></i>
       {% elif category=='warning' %} 
       <i class="fa-regular fa-circle-exclamation"></i>{{ message }}<i class="fa-thin fa-xmark" onclick="hideMessage(this)"></i>
      {% elif category=='info' %} 
       <i class="fa-light fa-circle-info"></i>{{ message }}<i class="fa-thin fa-xmark" onclick="hideMessage(this)"></i>
        {%  endif %}
    </li>
    {% endfor %}

  </ul>
  {%  endif %}
  {% endwith %}
</div>

<div class="addtaskBar" id="addtaskBar">
     <ul onclick="showAddbar()">
                  <button class="plus1">+</button>
                </ul>
</div>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.js"></script> 
    <script> flatpickr("#datetimepicker", {
  dateFormat: "M j",
});</script>
<script> flatpickr("#datetimepickerupdate"+ item.id,{
  dateFormat: "Y-m-d",
});</script>
<script>
  
const currentDate = new Date();

const month = currentDate.toLocaleString("default", { month: "long" });

const day = currentDate.getDate();

document.getElementById("currentDateHeader").innerHTML =
  month + " " + day + " . " + "Today";


</script>
    <script src="/static/functional.js"></script>
  </body>
</html>
