<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Home</title>
    <script src="/static/functional.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="landing-page">
    <ul>
        <li class="text"> To-do list</li>
        <li><a href="#"><button>Start for free</button></a></li>
    </ul>
    </div >
    <div class="landing-page-content">
      <ul>
        <h1>Easy way to get full control of your tasks</h1>
        <p>say goodbye to the tradional pen-and-paper to-do list</p>
        <a href="signin.html"><button>Start for free</button></a>
        <div class="landing-page-box1">
        <img src="/static/list3.jpg" alt="picture">
      </div>
      </ul>
    </div>

  </body>
  </body>
</html>
