{% extends "index.html" %} {% block title %} Today {% endblock %} {% block
content%}

<div class="content">
 
  <br />
  <h3 id="inboxOnclick">Upcoming Tasks</h3>
</div>

<div id="addTask-pstn">
        {% set ns = namespace(found=false)  %}
                {% for item in task_list %} 
                  {%  if item.date_str is not none %} {% if currentDate < item.date_str %}
                    {% set ns.found = true  %}
                  {% endif %} {% endif %}
        {% endfor %} 
        {% if  ns.found == false %}
          <P>No Upcoming Task  found!</P>
        {% endif %}
        {% for item in task_list %}
        <div id="moreOptions_{{ item.id }}" class="moreOptions" style="display: none;">
                    <ul>
                      <li><a href="#" onclick="showEditTask()" id="editEvent">Edit</i></a></li>
                      <hr>
                      <li><form action="/delete/{{ item.id }}" method="POST" style="display: inline;" >
                          <input type="hidden" name="return_url" value="{{ request.path }}">
                          <button type="submit" style="color: red;cursor: pointer; border: none;">
                          <i class="fa-regular fa-trash-can"></i>Delete</button>
                        </form>
                      </li>
                      <hr>
                      <li><a href="#" onclick="HideMoreOptions()"><i class="fa-solid fa-circle-xmark"></i>close tab</a></li>
                    </ul>
        </div>
        <div class="TaskAdded">
              <div class="big_circle">
                    {% if item.date_str is not none %} {% if currentDate < item.date_str %}
                    <li><h4>{{ item.title | capitalize }}</h4></li>
                    <li>
                      <p>{{ item.description | capitalize }}</p>
                      <a
                        href="#"
                        style="display: none"
                        class="ellipsis"
                        onclick="ShowMoreOptions('{{ item.id }}')"
                      >
                        <i class="fa-thin fa-ellipsis-stroke"></i>
                      </a>
                      <span>
                        <i class="fa-thin fa-calendar"></i>&nbsp; {{ item.display_date }}
                      </span>
                    </li>

                    <hr class="hr_line" />
                
                  {% endif %} {% endif %}
              </div>
        </div>
     {% endfor %}
</div>
{% endblock %}
